@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.first-h1 {
  font-family: 'Dancing Script', cursive;
  padding: 8px 40px 0 40px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin: 0 0 0 30px;
}

.first-header {
  background-color: rgb(218, 241, 245);
}



.nav {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0 60px 40px 0;
}

.btn01 {
  border: 1px solid rgb(172, 201, 235);
  color: #333;
  background: rgb(214, 222, 240);
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  margin: 40px 0 0 40px;
}

.btn01:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.btn02 {
  border: 1px solid rgb(240, 215, 161);
  color: #333;
  background: rgb(238, 227, 197);
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  margin: 40px 0 0 40px;
}

.btn02:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.btn03 {
  border: 1px solid rgb(200, 235, 172);
  color: #333;
  background: rgb(229, 240, 214);
  // padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  margin: 5px 0 0 40px;
  font-size: 15px;
}

.btn03:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}