@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.first-header {
  background-color: rgb(188, 235, 243);
}

h1 {
  font-family: 'Dancing Script', cursive;
  padding: 8px 40px 0 40px;
  margin: 0 0 0 30px;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0 60px 40px 0;
}

.index-btn {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  margin-top: 4vh;
  border: 1px solid rgb(67, 127, 238);
  color: #FFF;
  background-color: rgb(67, 127, 238);
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  border-bottom: solid 5px #113fda;/*ボタン色より暗めに*/
  border-right: solid 5px #113fda;/*ボタン色より暗めに*/
}

.index-btn:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.login:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.index-btn:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.index-btn:after, .index-btn:before {
  content: none;/*ボタンを押すと線が消える*/
}

// .sign-up {
//   text-decoration: none;
//   line-height: 32px;
//   margin-right: 3vw;
//   border: 1px solid rgb(245, 142, 95);
//   padding: 20px;
//   color: rgb(245, 142, 95);
// }

// .logout {
//   text-decoration: none;
//   line-height: 32px;
//   margin-right: 3vw;
//   border: 1px solid rgb(245, 142, 95);
//   padding: 20px;
//   color: rgb(245, 142, 95);
// }


.main {
  background: rgb(241, 223, 235);
  background-image: image-url('ponyosky-header01.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.title-contents {
  font-size: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: rgb(6, 26, 202);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-image: image-url('ponyosky-header01.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.title-contents p {
  font-size: 30px;
}

.user-uid {
  text-decoration: none;
  padding-right: 60px;
  font-size: 25px;
  color: rgb(67, 127, 238);
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#wait_approval:checked ~ #approval_content,
#wait_order:checked ~ #order_content,
#wait_delivery:checked ~ #delivery_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.main-order {
  background-color: cadetblue;
}

.order {
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
  padding: 10px;
  border: 3px solid rgb(70, 46, 202);
  font-size: 30px;
  background-color: rgb(102, 119, 218);
  border-radius: 0.2em;
}

.order-btn {
  text-decoration: none;
  color: white;
}

.require-sign-in {
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
  padding: 10px;
  border: 3px solid rgb(70, 46, 202);
  font-size: 30px;
  background-color: rgb(102, 119, 218);
  border-radius: 0.2em;
}

.sign-in-btn {
  text-decoration: none;
  color: white;
}

.item-data {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.item-name {
  font-size: 1.2em;
  text-align: left;
  width: 150px;
}

.item-user {
  text-align: left;
}