.main {
  background: rgb(241, 223, 235);
  background-image: image-url('ponyosky-h.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;
}

.main-contents {
  background-image: image-url('ponyosky-h.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.title-contents {
  font-size: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: rgb(2, 6, 248);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.title-contents p {
  font-size: 30px;
}

.user-uid {
  text-decoration: none;
  padding-right: 60px;
  font-size: 25px;
  color: rgb(67, 127, 238);
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/5);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}



/*選択されているタブのコンテンツのみを表示*/
#wait_approval:checked ~ #approval_content,
#wait_order:checked ~ #order_content,
#wait_delivery:checked ~ #delivery_content,
#already_delivery:checked ~ #already_content,
#rejected:checked ~ #rejected_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.main-order {
  background-color: cadetblue;
}

.order {
  width: 500px;
  margin: 0 auto 0px;
  text-align: center;
  padding: 10px;
  border: 3px solid rgb(228, 152, 133);
  font-size: 30px;
  background-color: rgb(245, 226, 191);
  border-radius: 0.2em;
}

.order-btn {
  text-decoration: none;
  color: black;
}

.order:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.user-btn {
  display: flex;
  justify-content: space-around;
}

.require-sign-in {
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
  padding: 10px;
  border: 3px solid rgb(228, 152, 133);
  font-size: 30px;
  background-color: rgb(245, 226, 191);
  border-radius: 0.2em;
}

.require-sign-in:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.sign-in-btn {
  text-decoration: none;
  color: black;
}

.item-lists {
  list-style: none;
}

.item-data {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;
  background: #f1f8ff;
  margin-bottom: 3px;
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
}

.item-name {
  font-size: 1.2em;
  text-align: left;
  width: 200px;
}

.item-user {
  text-align: left;
  width: 200px;
}


/* ログインしていない場合の表示部分 */
.can-do-contents {
  padding: 5vh 5vw;
}

.can-do-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.can-do-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #ce8f3c;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.can-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.can-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.can-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #eec271;
  color: #fff;
}

.can-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color:rgb(248, 92, 2)
}


.can-list-description {
  font-size: 18px;
  margin-top: 20px;
}
/* ログインしていない場合の表示部分 */