@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.second-header {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  width: 100%;
  background-color: rgb(188, 235, 243);
  padding: 33px 10px;
}

.second-h1 {
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin: 0 0 0 30px;
}