.inner{
  width: 600px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 10px 120px 0 120px;
}

.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  // width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #f2fdfc;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-destroy {
  width: 100%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.item-edit {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-right: 35px;
}

.approval-delete-btn {
  width: 100%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
}

.approval-btn {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
}

.reject-btn {
  width: 100%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
}

.reject-delete-btn {
  width: 100%;
  background-color: #4758f1;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
}