.inner{
  width: 600px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 10px 120px 0 120px;
}

.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  // width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #f2fdfc;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-destroy {
  width: 100%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  text-decoration: none;
  cursor: pointer;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.item-destroy:hover {
  border: 1px solid #f53131;
  color: #f53131;
  background: #fff;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.item-edit {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.item-edit:hover {
  background: #fff;
  color: #2096f3;
  border: 1px solid #2096f3;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.approval-delete-btn {
  width: 91%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.approval-delete-btn:hover {
  background: #fff;
  color: #f53131;
  border: 1px solid #f53131;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}


.approval-btn {
  width: 91%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.approval-btn:hover {
  background: #fff;
  border: 1px solid #2096f3;
  color: #2096f3;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.reject-btn {
  width: 91%;
  background-color: #f53131;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.reject-btn:hover {
  background: #fff;
  color: #f53131;
  border: 1px solid #f53131;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.reject-delete-btn {
  width: 100%;
  background-color: #4758f1;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
}

.top-page-btn {
  width: 91%;
  background-color: #fdfcfc;
  color: rgb(5, 5, 5);
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  cursor: pointer;
}

.top-page-btn:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

/* コメント表示のCSS */

.item_comments{
  background-color: #eaf5f7;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
}

#comment_text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.upper-message {
  display: flex;
}

.message-date{
  padding-left: 50px;
  color: rgb(160, 159, 159);
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  color: #434A54;
  font-size: 20px;
  margin-bottom: 40px;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.form-submit{
  padding: 0 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  border: none;
  height: 50px;
  margin-left: 15px;
}