<header>
<div class="nav">
  <h1>PONYOSKY</h1>

  <ul class="lists-right">
    <li><%= link_to 'ログイン', "#", class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up"%></li>
  </ul>
  </div>
</header>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      PONYOSKYで
    </h2>
    <p>物品の購入申請をしよう！</p>
  </div>
  
</div>