.login-btn {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: 
    background .15s ease,
    border .15s ease,
    color .15s ease
    ;
}

.login-btn:hover {
  background: #fff;
  border: 1px solid #2096f3;
  color: #2096f3;
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}

.guest1 {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

.guest2 {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

.btn03 {
  border: 0;
  color: #fff;
  background: rgb(247, 175, 19);
  padding: 5px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  font-size: 15px;
  border-radius: 3p;
  }
  
.btn03:hover {
  background: #fff;
  border: 1px solid rgb(247, 175, 19);
  color: rgb(247, 175, 19);
  transition: 
  background .15s ease,
  border .15s ease,
  color .15s ease
  ;
}